{% extends 'base.jinja' %}

{% block content %}
			{#- <div class='navbar navbar'>
				<div class='navbar-inner'>
					<div class='container'>
						<a class='btn btn pull-right' href='#'><i class='icon-refresh'></i></a>
						<a class='btn btn pull-right' href='#'><i class='icon-ok'></i></a>
					</div>
				</div>
			</div> #}
			<div class='row col-md-14 screen-height'>
				<div class='feed-list col-xs-4 col-md-3 hidden-xs screen-height'>
					<div class='feed-control'>
						<a id='mark-all-read' class='btn btn-xs btn-primary'>
							Mark all read
						</a>
						<a id='add-feed' class='btn btn-xs btn-success'>
							<span class='glyphicon glyphicon-plus'></span>
						</a>
						<a id='refresh-feed' class='btn btn-xs btn-success' data-loading-text='Refreshing...'>
							<span class='glyphicon glyphicon-refresh'></span>
						</a>
						<a id='filter-read' class='btn btn-xs btn-info'>
							<span class='glyphicon glyphicon-filter'></span>
						</a>
					</div>
					<ul>
{#- {% include 'includes/feed_list.html.j2' with context %} #}
					</ul>
				</div>
				<div class='article-list col-md-11 screen-height'>
					<ul>
{#- {% include 'includes/article_list.html.j2' with context %} #}
					</ul>
				</div>
			</div>
{%- endblock %}