@import "bootstrap/variables";
@import "bootstrap/mixins";

@green:	#46A546;
@red:	#9D261D;
@blue:	#3269b4;
@purple:#a523b9;


html, body, body>div.container {height:100%;overflow:hidden;}

.row {padding:0;}

// .container {position:relative;}

.screen-height {
	height:100%;
	// max-height:100%;
	overflow:auto;
	position:relative;
}

.feed-control {
	// display:inline;
	height:20px;
	margin-left:40px;
	position:absolute;
}

.feed-list {
	& > ul {
		& > li {
			&.active {
				background-color:azure;
			}
			&:hover {
				background-color:azure;
			}
			&.error {
				background-color:tomato !important;
			}
			cursor:pointer;
		}
		height:100%;
		list-style:none;
		margin-top:25px;
		overflow:auto;
	}
	// & > hr {
	// 	margin:2px 0 2px 25px;
	// }
	font-size:10px;
	margin-left:0px;
	overflow:hidden;
}

.article-list {
	& > ul {
		& > li {
			&.article-row {
				& > div {
					display:inline-block;
				}
				& > div.article-row-title {
					& > .feed-icon {
						// vertical-align:middle;
						margin:1px 0 0 1px;
					}
					& > div.article-feed-name {
						display:inline-block;
						overflow:hidden;
						text-overflow:ellipsis;
						vertical-align:middle;
						white-space:nowrap;
						width:170px;
					}
					& > div.article-title {
						display:inline-block;
						overflow:hidden;
						text-overflow:ellipsis;
						vertical-align:middle;
						white-space:nowrap;
						width:525px;
					}
					& > div.article-date {
						display:inline-block;
						float:right;
						margin-top:2px;
						// overflow:hidden;
						// text-overflow:ellipsis;
						// white-space:nowrap;
					}
					&:hover {
						background-color:azure;
					}
					height:18px;
					width:100%;
				}
				& > div.article-content {
					& > div.article-content-title {
						& > h2 {
							line-height:30px;
							margin:0;
						}
						// display:inline-block;
						// margin-bottom:15px;
					}
					& > div.article-content-footer {
						& > div {
							cursor:pointer;
						}
						padding-bottom:3px;
						padding-top:3px;
					}
					border-left:0;
					border-right:0;
					border-radius:0;
					cursor:auto;
					display:none;
					margin-bottom:0;
					// margin-top:5px;
					.transition(height 0.5s ease);
					width:100%;
				}
				&.active {
					& > div.article-row-title {
						&:hover {
							background-color:darken(azure, 5%)
						}
						background-color:azure;
					}
				}
				cursor:pointer;
				line-height:14px;
			}
			&.read {
				&:hover {
					// background-color:fade(gray, 50%);
				}
				div.article-row-title {
					color:fade(@text-color, 50%);
				}
			}
			border:1px solid fade(gray, 25%);
			list-style:none;
			margin:0 0 -1px 0;
			// height:18px;
		}
		padding-left:0px;
	}
	// border-left:1px solid black;
	// display:inline-block;
	margin-left:0px;
	padding:0px;
	// position:absolute;
	// left:(@gridColumnWidth*3)+15;
}
