						{%- for user_article in articles %}
						{%- set article=user_article.article %}
						<li class='article-row{% if user_article.read %} read{% endif %}' id='article-{{article.pk}}'
						data-id='{{article.pk}}'>
							<div class='article-row-title'>
								<img class='feed-icon' src='{{user_article.feed.get_feed_image|default_if_none(STATIC_URL+'img/rss.png')}}'>
								<div class='article-feed-name'>{{user_article.feed.title}}</div>
								<div class='article-title'>{{article.title|safe}}</div>
								<div class='article-date' title='Published: {{article.date_published|date("h:iA D d M Y")}} Discovered: {{article.date_added|date("h:iA D d M Y")}}'>{{article.date_published_relative}}</div>
							</div>
							<div class='article-content panel panel-default'>
								<div class='article-content-title panel-heading'>
									<h2><a href='{{article.url}}' target='_blank'>{{article.title|safe}}</a></h2>
								</div>
								<div class='article-content-main panel-body' data-loaded='false'>
									{# {{article.content|safe}} #}
								</div>
								<div class='article-content-footer panel-footer'>
									<div><span class='glyphicon glyphicon-envelope'></span> <span>{% if user_article.read %}Mark unread{% else %}Mark read{% endif %}</span></div>
								</div>
							</div>
						</li>
						{%- endfor %}